// 예시)
// @import '/stories/color';
// color: $white;
// background-color: $base-90;

$black: #000000;

$base-100: #141414;

$base-90: #2d2d2d;

$base-80: #474747;

$base-70: #606060;

$base-60: #7a7a7a;

$base-50: #939393;

$base-40: #adadad;

$base-30: #c6c6c6;

$base-20: #e0e0e0;

$base-10: #f8f8f8;

$white: #ffffff;

// Semantic Color

$success: #05c46b;

$error: #ff3f34;

$info: #3c40c6;

$warning: #ffd32a;
